@{
    ViewData["Title"] = "Make a playlist";
}

<div class="text-center">
    <h1 class="display-4">Do you want to build a playlist?</h1>
    <button id="authBtn">Do it</button>
    <div id="initLink" hidden>
        <a href="#" id="showPartial">Click Here To Get Started </a>
    </div> 
</div>
<div id="SpotParams" hidden>
    @Html.Partial("SpotParams")
</div>

<div id="ViewPlaylists">
   
</div>

<div id="ViewTracks">
   
</div>
 
