@{
    ViewData["Title"] = "Make a playlist";
}

<div class="text-center">
    <h1 class="display-4">Do you want to build a playlist?</h1>
    <button id="authBtn">Do it</button>
    <div id="initLink" hidden>
        <a href="#" id="showPartial">Click Here To Get Started </a> | <a href="#" id="getPlaylists">Click Here To See Existing Playlists </a>
    </div> 
</div>
<div id="SpotParams" style="display: none">
  
</div>

<div id="ViewPlaylists">
   
</div>

<div id="ViewTracks">
   
</div>
 
