@{
    ViewData["Title"] = "Make a playlist";
}

<div class="text-center">
    <h1 class="display-4">Do you want to build a playlist?</h1>
    <button id="authBtn">Do it</button>
    <div id="initLink" hidden>
        <ul class="nav flex-column">
            <li class="nav-item"><a href="#" id="showPartial">Click Here To Get Started </a></li>
            <li class="nav-item"><a href="#" id="getPlaylists">Click Here To See Existing Playlists </a></li>
            <li class="nav-item"><a href="#" id="getSavedTracks">Make a playlist from your liked tracks </a></li>
        </ul>
    </div> 
</div>
<div id="SpotParams" style="display: none">
  
</div>

<div id="ViewPlaylists">
   
</div>

<div id="ViewTracks">
   
</div>
 
