@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Please note, none of your data is stored when using this service.</p>
<p>Some data may be cached, however, it is only useful to the usage of Spotify's API</p>
