@model IEnumerable<SpotAPIFrontEnd.Models.TrackResponse>

<table class="table">
    <thead>
        <tr>
            <th>
                Artists
            </th>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.length)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model!=null)
        {
            @foreach (var item in Model) {
                    <tr>
                        <td>
                            @foreach (var artist in item.artists)
                            {
                                @artist 
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.length)
                        </td>
                    </tr>
            }

        }
    </tbody>
</table>
